In [1]:
!pip install hopsworks

Collecting hopsworks
  Using cached hopsworks-4.1.8-py3-none-any.whl (646 kB)
Requirement already satisfied: avro==1.11.3 in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (1.11.3)
Requirement already satisfied: hopsworks_aiomysql[sa]==0.2.1 in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (0.2.1)
Requirement already satisfied: PyMySQL[rsa] in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (1.1.1)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (4.56.0)
Collecting pyjks
  Using cached pyjks-20.0.0-py2.py3-none-any.whl (45 kB)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (2.31.0)
Requirement already satisfied: furl in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (2.1.3)
Requirement already satisfied: pandas<2.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (1.0.5)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (20.4)
Requirement already satisfied: protobuf<5.0.0,>=4.25.4 in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (4.25.6)
Requirement already satisfied: tzlocal in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (5.2)
Requirement already satisfied: boto3 in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (1.36.11)
Collecting pyhumps==1.6.1
  Using cached pyhumps-1.6.1-py3-none-any.whl (5.0 kB)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (1.3.18)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (0.7.4)
Requirement already satisfied: mock in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (4.0.2)
Requirement already satisfied: retrying in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (1.3.3)
Requirement already satisfied: opensearch-py<=2.4.2,>=1.1.0 in /opt/anaconda3/lib/python3.8/site-packages (from hopsworks) (2.4.2)
Collecting grpcio<2.0.0,>=1.49.1
  Using cached grpcio-1.70.0.tar.gz (12.8 MB)
Requirement already satisfied: cryptography; extra == "rsa" in /opt/anaconda3/lib/python3.8/site-packages (from PyMySQL[rsa]->hopsworks) (2.9.2)
Collecting javaobj-py3
  Using cached javaobj_py3-0.4.4-py2.py3-none-any.whl (57 kB)
Collecting pyasn1-modules
  Using cached pyasn1_modules-0.4.1-py3-none-any.whl (181 kB)
Collecting pycryptodomex
  Using cached pycryptodomex-3.21.0-cp36-abi3-macosx_10_9_x86_64.whl (1.6 MB)
Collecting pyasn1>=0.3.5
  Using cached pyasn1-0.6.1-py3-none-any.whl (83 kB)
Processing /Users/shankar/Library/Caches/pip/wheels/d1/d8/e3/c2de52855d46f9c708b45a0159f2cfa1c2c72ae7179ea6289b/twofish-0.3.0-cp38-cp38-macosx_10_9_x86_64.whl
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->hopsworks) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->hopsworks) (2020.6.20)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->hopsworks) (1.26.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->hopsworks) (3.4.1)
Requirement already satisfied: six>=1.8.0 in /opt/anaconda3/lib/python3.8/site-packages (from furl->hopsworks) (1.15.0)
Requirement already satisfied: orderedmultidict>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from furl->hopsworks) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas<2.2.0->hopsworks) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas<2.2.0->hopsworks) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas<2.2.0->hopsworks) (2.8.1)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from packaging->hopsworks) (2.4.7)
Requirement already satisfied: backports.zoneinfo; python_version < "3.9" in /opt/anaconda3/lib/python3.8/site-packages (from tzlocal->hopsworks) (0.2.1)
Requirement already satisfied: botocore<1.37.0,>=1.36.11 in /opt/anaconda3/lib/python3.8/site-packages (from boto3->hopsworks) (1.36.11)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/anaconda3/lib/python3.8/site-packages (from boto3->hopsworks) (1.0.1)
Requirement already satisfied: s3transfer<0.12.0,>=0.11.0 in /opt/anaconda3/lib/python3.8/site-packages (from boto3->hopsworks) (0.11.2)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /opt/anaconda3/lib/python3.8/site-packages (from cryptography; extra == "rsa"->PyMySQL[rsa]->hopsworks) (1.14.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.8/site-packages (from cffi!=1.11.3,>=1.8->cryptography; extra == "rsa"->PyMySQL[rsa]->hopsworks) (2.20)
Building wheels for collected packages: grpcio
  Building wheel for grpcio (setup.py) ... |^C
anceled
ERROR: Operation cancelled by user

In [2]:
import pandas as pd

In [6]:
trucks_df= pd.read_csv("/Users/shankar/Downloads/Data/Training_data/trucks_table.csv")
trucks_df.head(10)

   truck_id  truck_age  load_capacity_pounds  mileage_mpg fuel_type
0  42302347         10                3000.0           17       gas
1  27867488         14               10000.0           22    diesel
2  13927774          8               10000.0           19       gas
3  69577118          8               20000.0           19       gas
4  28650047         10                4000.0           21    diesel
5  29303248          9                4000.0           15       gas
6  76304377          8                3000.0           20    diesel
7  21093078          8                   NaN           14       gas
8  41713749          9                   NaN           22       gas
9  14730346         11               15000.0           20       NaN

In [7]:
trucks_df.isna().sum()

truck_id                 0
truck_age                0
load_capacity_pounds    57
mileage_mpg              0
fuel_type               40
dtype: int64

In [10]:
trucks_df['fuel_type']=trucks_df['fuel_type'].fillna('Unknown')

In [11]:
trucks_df.isna().sum()

truck_id                 0
truck_age                0
load_capacity_pounds    57
mileage_mpg              0
fuel_type                0
dtype: int64

In [12]:
trucks_df['event_time']=pd.to_datetime("2023-08-23")

In [14]:
trucks_df=trucks_df.sort_values(['event_time','truck_id'])

In [17]:
trucks_df[trucks_df.duplicated(subset=['truck_id'])]

Empty DataFrame
Columns: [truck_id, truck_age, load_capacity_pounds, mileage_mpg, fuel_type]
Index: []

In [4]:
traffic_df= pd.read_csv("/Users/shankar/Downloads/Data/Training_data/traffic_table.csv")
traffic_df.head(10)

     route_id        date  hour  no_of_vehicles  accident
0  R-ada2a391  2019-01-01     0           669.0         0
1  R-ada2a391  2019-01-01   100           628.0         0
2  R-ada2a391  2019-01-01   200           516.0         0
3  R-ada2a391  2019-01-01   300           582.0         0
4  R-ada2a391  2019-01-01   400           564.0         0
5  R-ada2a391  2019-01-01   500           564.0         0
6  R-ada2a391  2019-01-01   600           654.0         0
7  R-ada2a391  2019-01-01   700          1966.0         0
8  R-ada2a391  2019-01-01   800          2778.0         0
9  R-ada2a391  2019-01-01   900          2271.0         0

In [5]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2597913 entries, 0 to 2597912
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   route_id        object
 1   date            object
 2   hour            int64
 3   no_of_vehicles  float64
 4   accident        int64
dtypes: float64(1), int64(2), object(2)
memory usage: 99.1+ MB

In [8]:
traffic_df.isna().sum()

route_id             0
date                 0
hour                 0
no_of_vehicles    1152
accident             0
dtype: int64

In [9]:
traffic_df['date'] = pd.to_datetime(traffic_df['date'])

In [10]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2597913 entries, 0 to 2597912
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   route_id        object
 1   date            datetime64[ns]
 2   hour            int64
 3   no_of_vehicles  float64
 4   accident        int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 99.1+ MB

In [21]:
traffic_df.duplicated(subset=['route_id','date','hour']).sum()

1305

In [12]:
traffic_df.describe(include='all')

,route_id,date,hour,no_of_vehicles,accident
count,2597913,2597913,2.597913e+06,2.596761e+06,2.597913e+06
unique,2352,46,NaN,NaN,NaN
top,R-48cfa4e6,2019-02-08 00:00:00,NaN,NaN,NaN
freq,1148,56488,NaN,NaN,NaN
first,NaN,2019-01-01 00:00:00,NaN,NaN,NaN
last,NaN,2019-02-15 00:00:00,NaN,NaN,NaN
mean,NaN,NaN,1.150021e+03,1.566776e+03,5.320848e-02
std,NaN,NaN,6.922211e+02,8.959424e+02,2.244490e-01
min,NaN,NaN,0.000000e+00,1.000000e+02,0.000000e+00
25%,NaN,NaN,6.000000e+02,6.060000e+02,0.000000e+00
50%,NaN,NaN,1.200000e+03,1.969000e+03,0.000000e+00
75%,NaN,NaN,1.800000e+03,2.326000e+03,0.000000e+00
max,NaN,NaN,2.300000e+03,3.636000e+03,1.000000e+00